@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    <environment names="Development">
        <script src="~/js/leave.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/leave.min.js" asp-append-version="true"></script>
    </environment>

}

<div ng-app="leaveMotel">
    <div ng-controller="leaveController as l">
        <day-widget name="l.testData"></day-widget>
    </div>
</div>